html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

.center-text {
    text-align: center;
}



/* Landing Page */

.landing-pg {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.landing-link {
    margin-top: 22%;
    margin-bottom: 78%;
    font-size: 8em;
}



/* Navbar */

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff4d;
    background-color: rgba(255, 255, 255, .3);
}

.navbar-light .navbar-brand {
    color: black;
    font-size: 3rem;
    padding: 0;
}

.navbar-light .navbar-toggler {
    font-size: 1.9rem;
    padding: .15rem;
    line-height: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(199,204,198, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/* Main Modal */

.modal-dialog {
    margin: 0;
    padding: 0;

}

.modal-content {
    min-height: 100%;
    border-radius: 0;
    position: fixed;
}

.close {
    font-size: 5rem;
    font-weight: 200;
    line-height: .5;
}

.modal-header .close {
    padding-top:0;
    padding-right: .15em;
    margin: 0;
}

.modal-title {
    color: black;
    font-size: 3rem;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0.25em;
    line-height: 1.2em;
}



/* Main Content */

.my-content {
    width: 100%;
    height: 100%;
    margin: 0;
 /*   -webkit-transition:.6s ease-in-out left;
    -o-transition:.6s ease-in-out left;
    transition:.6s ease-in-out left;*/
}




/*Home Content*/

.carousel, .carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    padding-bottom: 8em;
}

.banner-1 {
    width: 100%;
    background: #85858e;   
    height: 100%;
}

.banner-2 {
    width: 100%;
    background: #597959;
    height: 100%;
}

.banner-3 {
    width: 100%;
    background: #bdbd67;
    height: 100%;
}

.main-caption {
    margin: 0;
}



/*Our Works Content*/

.works-content {
    background: #dea2c2f0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.row {
    padding: 0;
    line-height: 4em;
    text-align: center;
}

.clear-div {
    background: transparent;
    margin-top: 6em;
    margin-bottom: 4em;
}




/*Upcoming Content*/

.upcoming-content {
    vertical-align: middle;
}

.upcoming-img {
    height: 300px;
    width: 300px;
    margin: auto;
}

.test-img {
    height: 200px;
    width: 200px;
    margin: auto;
}



/* Footer */

.my-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: .5em;
    padding-bottom: .5em;
    background-color: transparent;
    text-align: right;
}

