{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="my-contents">
  <center>
    <div class="container-fluid thumbnail login-div">
      <div class="row">
        <div class="col-xs-12">
          <h1>Login</h1>
        </div>
      </div>
      <div class="row forms">
        <div class="col-xs-12">
          <form action="/admin" id="login-form" method="POST">
            <label> Username <br><input type="text" id="username" name="username" placeholder="Enter username" value="Ada" required></label><br><br>
            <label> Password <br><input type="password" name="password" placeholder="Enter password" value="12345" required></label><br><br>
            <label><input class="btn btn-primary" type="submit" value="Login"></label>
          </form>
        </div>
      </div>
    </div>
  </center>
</div>
{% endblock %}