<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} TITLE GOES HERE {% endblock%}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div class="container-fluid navbar-fluid justify-content-between">
        <a class="navbar-brand" href="/home">Logo</a>
        <button type="button" class="navbar-toggler border-0 btn shadow-none" data-toggle="modal" data-target="#mainModal" aria-controls="mainModal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggle Content -->
<!--         <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/works">Our Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/misc">Miscellaneous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>




    <!-- Modal -->
    <div id="mainModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mainModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a href="/home"><h5 class="modal-title" id="modalCenterTitle">Logo</h5></a>
            <button type="button" class="close btn shadow-none" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div><a href="/works">Our Work</a></div>
              <div><a href="/upcoming">Upcoming</a></div>
              <div><a href="/misc">Miscellaneous</a></div>
              <div><a href="/about">About Us</a></div>
              <div><a href="/contact">Contact Us</a></div>
          </div>
        </div>
      </div>
    </div>
   













    <div class="my-content">{% block content %} CONTENT GOES HERE {% endblock %}</div>
    <div class="my-footer">
      <a class="btn btn-info" href="/" role="button">FB</a>
      <a class="btn btn-info" href="/" role="button">INST</a>
      <a class="btn btn-info" href="/" role="button">PIN</a>
      <a class="btn btn-info" href="/" role="button">TWT</a>
    </div>

  </body>
</html>