<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} TITLE GOES HERE {% endblock%}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-fluid">
        <div class="row justify-content-between">
          <div class="col">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Menu
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" id="menu-expanded" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <a href="/"><h5 class="modal-title" id="exampleModalCenterTitle">Home</h5></a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div><a href="/works">Our Work</a></div>
                  <div><a href="/upcoming">Upcoming</a></div>
                  <div><a href="/misc">Miscellaneous</a></div>
                  <div><a href="/about">About Us</a></div>
                  <div><a href="/contact">Contact Us</a></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </nav>

    <div class="my-content" id="mainBG">{% block content %} CONTENT GOES HERE {% endblock %}</div>
    <div class="my-footer">
      <a class="btn btn-info" href="/" role="button">FB</a>
      <a class="btn btn-info" href="/" role="button">INST</a>
      <a class="btn btn-info" href="/" role="button">PIN</a>
      <a class="btn btn-info" href="/" role="button">TWT</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>