{% extends 'base.html' %}
{% block title %}Upcoming{% endblock %}
{% block content %}
  <div class="container-fluid upcoming-content min-vh-100 h-100 d-flex">
    <div class="container-fluid align-items-center justify-content-center d-flex">
      <div class="w-100">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-12"><h1>Quis nostrud exercitation ullamco laboris nisi</h1>
          </div>
        </div>
        <br>
        <div class="row group">
          <div class="col-12 col-md-6">
            <div class="upcoming-img thumbnail">
              <div class="test-img"></div>
<!--               <a href="#"><img class="img-responsive" src="#" alt="Upcoming"></a> -->
              <center><h4 class="brand-name">Duis Aute</h4></center> 
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="upcoming-img thumbnail">
              <div class="test-img"></div>
<!--               <a href="#"><img class="img-responsive" src="#" alt="Upcoming"></a> -->
              <center><h4 class="brand-name">Aliquip</h4></center> 
            </div>
          </div>
        </div>
        <div class="row group">
          <div class="col-12 col-md-6">
            <div class="upcoming-img thumbnail">
              <div class="test-img"></div>
<!--               <a href="#"><img class="img-responsive" src="#" alt="Upcoming"></a> -->
              <center><h4 class="brand-name">Fugiat Nulla Pariatur</h4></center> 
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="upcoming-img thumbnail">
              <div class="test-img"></div>
<!--               <a href="#"><img class="img-responsive" src="#" alt="Upcoming"></a> -->
              <center><h4 class="brand-name">Occaecat Cupidatat</h4></center> 
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12"><h1>Excepteur sint occaecat cupidatat non proident</h1>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
{% endblock %}