{% extends 'base.html' %}
{% block title %}Our Works{% endblock %}
{% block content %}
  <div class="container-fluid works-content min-vh-100 h-100">
    <div class="container-fluid clear-div">
      <div class="my-auto">
        <div class="row">
          <div class=" center-text col-sm-12 col-lg-4">Lorem Ipsum
          </div>
          <div class=" center-text col-sm-12 col-lg-4">Tempor Incididunt
          </div>
          <div class="center-text col-sm-12 col-lg-4">Ut Enim Ad
          </div>
        </div>  
        <div class="row">
          <div class="center-text col-12 col-lg-4">Dolor Sit Amet
          </div>
          <div class="center-text col-12 col-lg-4">Ut Labore Et
          </div>
          <div class="center-text col-12 col-lg-4">Minim Veniam
          </div>
        </div>
        <div class="row">
          <div class="center-text col-12 col-lg-4">Consectetur Adipiscing Elit Sed Do
          </div>
          <div class="center-text col-12 col-lg-4">Dolore
          </div>
          <div class="center-text col-12 col-lg-4">Quis Nostrud Exercitation
          </div>
        </div>
        <div class="row">
          <div class="center-text col-12 col-lg-4">Eiusmod
          </div>
          <div class="center-text col-12 col-lg-4">Magna Aliqua
          </div>
          <div class="center-text col-12 col-lg-4">Ullamco
          </div>
        </div>
      </div>
    </div>
  </div>




<!--     <br>
    <br>
    <br>
    <br>
    <ul>
      <li>Lorem Ipsum</li>
      <li>Dolor Sit Amet</li>
      <li>Consectetur Adipiscing Elit Sed Do</li>
      <li>Eiusmod</li>
      <li>Tempor Incididunt</li>
      <li>Ut Labore Et</li>
      <li>Dolore</li>
      <li>Magna Aliqua</li>
      <li>Ut Enim Ad</li>
      <li>Minim Veniam</li>
      <li>Quis Nostrud Exercitation</li>
      <li>Ullamco</li>
    </ul> -->

{% endblock %}