{% extends 'base.html' %}
{% block title %}Our Works{% endblock %}
{% block content %}
  <div class="container-fluid works-content min-vh-100 h-100 d-flex">
    <div class="container-fluid clear-div d-flex align-items-center justify-content-center">
      <div class="w-100">
        <div class="row">
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-a">Lorem Ipsum</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-e">Tempor Incididunt</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-i">Ut Enim Ad</a>
          </div>
        </div>  
        <div class="row">
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-b">Dolor Sit Amet</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-f">Ut Labore Et</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-j">Minim Veniam</a>
          </div>
        </div>
        <div class="row">
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-c">Consectetur Adipiscing Elit Sed Do</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-g">Dolore</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-k">Quis Nostrud Exercitation</a>
          </div>
        </div>
        <div class="row">
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-d">Eiusmod</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-h">Magna Aliqua</a>
          </div>
          <div class="center-text col-12 col-lg-4"><a href="#" class="brand-l">Ullamco</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/works.js"></script>

{% endblock %}